.manage-users {
    font-family: Arial, sans-serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 8px;
}

button {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-user-button {
    background-color: #28a745;
    color: white;
}

.add-user-button:hover {
    background-color: #218838;
}

.edit-user-button,
.delete-user-button {
    font-size: 14px;
    padding: 5px 10px;
}

.edit-user-button {
    background-color: #007bff;
    color: white;
}

.edit-user-button:hover {
    background-color: #0069d9;
}

.delete-user-button {
    background-color: #dc3545;
    color: white;
}

.delete-user-button:hover {
    background-color: #c82333;
}

ul {
    list-style: none;
    padding: 0;
}

.user-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    font-size: 16px;
    color: #555;
}

@media (max-width: 768px) {
    .manage-users {
        padding: 10px;
    }

    h2 {
        font-size: 24px;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }

    .user-item {
        flex-direction: column;
        align-items: flex-start;
    }
}

select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
    margin-left: 5px;
    margin-right: 10px;
}

select {
    background: url('data:image/svg+xml;charset=US-ASCII,<svg width="14" height="12" viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg"><path d="M7 12L0 0h14z" fill="%23333"/></svg>') no-repeat right 10px center;
    background-size: 14px 12px;
    padding-right: 30px;
}

select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}