.property-management {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property-management h3 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.property-item {
    padding: 15px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.property-item:last-child {
    border-bottom: none;
}

.property-item .property-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.property-item h4 {
    margin-top: 0;
    color: #5cb85c;
}

.property-item p {
    color: #666;
    margin: 5px 0;
}

.property-item button {
    padding: 10px 15px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.property-item button:hover {
    background-color: #c9302c;
}