.login-modal-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.login-modal-close-button {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.login-modal-close-button:hover,
.login-modal-close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.login-modal-header,
.login-modal-body,
.login-modal-footer {
    padding: 10px;
}

.login-modal-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-modal-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-modal-button:hover {
    opacity: 0.8;
}

.error-message {
    color: red;
    margin-top: 10px;
}